.header {
  background-color: cornflowerblue;
  padding: 20px;
  color: #fff;
}
.main {
  background-color: rgb(16, 90, 226);
  color: #fff;

}
.header h1 {
  margin-bottom: 20px;
}
.header span {
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}
.main {
    padding: 10px;
    height: 100vh;
}
.main h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.main p{
    font-size: 20px;
}
.active {
    border-bottom: 2px solid lightgreen;
    color: lightgreen;
}
